// ====================================
// メディアクエリ
// ====================================

// ブレークポイント -------------------------
$breakpoints: (
  tb: "only screen and (min-width: 600px)",
  pc: "only screen and (min-width: 1025px)",
);

// メディアクエリのmixin -------------------------
@mixin media ($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content;
    }
  }
  @else {
    @error "$breakpoints に #{$breakpoint} というキーはありません。";
  }
}
