// 余白微調整のためのclass
$spaceClass: true !default;
$spacePadding: false !default;
$endValue: 10 !default;

@if $spaceClass {
  @for $i from 0 through $endValue {
    .mt#{$i * 5} {
      margin-top: 5px * $i !important;
    }
    .mb#{$i * 5} {
      margin-bottom: 5px * $i !important;
    }
    @if $spacePadding {
      .pt#{$i * 5} {
        padding-top: 5px * $i !important;
      }
      .pb#{$i * 5} {
        padding-bottom: 5px * $i !important;
      }
    }
  }
}
